<!-- Registration form -->
<div class="content d-flex justify-content-center align-items-center">
  <form [formGroup]="userForm" class="flex-fill">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="card mb-0">
          <div class="card-body">
            <div class="text-center mb-3">
              <h2 class="mb-0">Create account</h2>
              <span class="d-block text-muted">All fields are required</span>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div
                  class="form-group form-group-feedback form-group-feedback-right"
                >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First name"
                    formControlName="first_name"
                    required
                  />
                  <div class="form-control-feedback">
                    <i class="icon-user-check text-muted"></i>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div
                  class="form-group form-group-feedback form-group-feedback-right"
                >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Last name"
                    formControlName="last_name"
                  />
                  <div class="form-control-feedback">
                    <i class="icon-user-check text-muted"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div
                  class="form-group form-group-feedback form-group-feedback-right"
                >
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    formControlName="email_id"
                  />
                  <div class="form-control-feedback">
                    <i class="icon-mention text-muted"></i>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div
                  class="form-group form-group-feedback form-group-feedback-right"
                >
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password"
                  />
                  <div class="form-control-feedback">
                    <i class="icon-user-lock text-muted"></i>
                  </div>
                </div>
              </div>
            </div>

            <button
              type="submit" (click)="onSave()"
              class="btn bg-teal-400 btn-labeled btn-labeled-right"
            > Sign Up
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- /registration form -->
